# Numerical Methods I

marijus.ambrozas@ff.vu.lt  
stepas.toliautas@ff.vu.lt

https://emokymai.vu.lt/course/view.php?id=7559

***

# Exercise 2. Python refresher I: variables, lists, basic operations

Today we will recall (or learn) the basics of Python. 

We try to keep things short and sweet; if you really want to become an awesome Python programmer, we recommend that you follow the official Python documentation in parallel with these seminars. For this seminar we are following the [Built-in Types](https://docs.python.org/3/library/stdtypes.html#) section.

***

***

1) Try to force the main data types -- `bool`, `int`, `float`, `string` -- to be other data types. For example, let's try forcing this string to be an integer:

In [11]:
print(int("2"))
print(float("2.0"))
print(bool(5))

2
2.0
True

What if you try to convert a "2.0" string to an integer?  

Try converting numbers and strings to bools. What happens? What does it take to convert any of the other types into a bool value `True`?

Finally, try to convert integers, floats and strings to lists. Think about the results.

In [18]:
print(list("Nigger"))
string = "12345"
integer_list = [int(char) for char in string]
print(integer_list) 
# Using list comprehension
string = "3.14 2.718 1.618"
float_list = [float(num) for num in string.split()]
print(float_list)  # Output: [3.14, 2.718, 1.618]

['N', 'i', 'g', 'g', 'e', 'r']
[1, 2, 3, 4, 5]
[3.14, 2.718, 1.618]

***

2) Write a program to determine the area of a rectangle. Define the lengths of the sides, print them, and print the resulting area. Make sure the variable names are understandable to anyone who might read your code.

In [19]:
x = float(input("1st side")) 
y = float(input("2nd side"))
area = x*y
print(area)

12.96

***

3) Write a program that adds two integers together given a string input like this:

In [21]:
ints_add = "3 5"
add = ints_add.split(" ")
print(int(add[0])+int(add[1]))

8

Hint: Look at [String Methods](https://docs.python.org/3/library/stdtypes.html#string-methods) in the Python Documentation to see what you can do with strings. Use `new_list = ints_add.split(" ")` to split the string into a list, where each element separated by a space is now a separate item in the list.

***

4) Write a program that adds two fractions and prints the result. The result can be a float (if you want, try to get the output to be a fraction). The input should be a string, e.g.

In [39]:
fracs_add = "3/7 + 9/2"
add = fracs_add.split()
First = add[0].split("/")
Second = add[2].split("/")
result = int(First[0])/int(First[1])+ int(Second[0])/int(Second[1])
print(result)

4.928571428571429

Hint: this is similar to the exercise you just did with integers. Use `new_list = x.split("/")` to extract the integers in the fractions:

In [ ]:
left_fraction = "3/7"
left_split = left_fraction.split("/")
print(left_split)

***

5) Write a program that asks the user to `input` the lengths of a right triangle's sides, and finds the length of the triangle's hypothenuse. Output the answer with two decimal digit accuracy.  
Hint: you might find the `round()` function useful.

In [40]:
import math
x = float(input("1st side")) 
y = float(input("2nd side"))
z = math.sqrt(x*x+y*y)
print(z)

7.0710678118654755

***

6) Here is a list that describes income for every month in a year:

In [ ]:
wages = [1000, 1200, 600, 800, 1200, 2000, 900, 700, 500, 800, 1200, 1500]
print(min(wages), max(wages))
print(wages.sort())

Print the maximum, minimum monthly income. Use `min(mylist)`, `max(mylist)`

Print the list sorted in ascending order. Use `mylist.sort()`

Print the list sorted in descending order. Use the above method together with `mylist.reverse()`

Find the total income over all the months. Use `sum()`

Print how many elements there are in the list. Use `len()`

Insert the number 959 after 2000 in the array and print the result. Use `mylist.insert(index, value)`

Print how many times you earned 1200. Use `mylist.count(value)`

Delete the 2nd, 3rd, 4th, 5th, 6th elements from the list and show the result. Use `del wages[index_start:index_end]`

***

7) Turn the below integer into a list, such that each decimal number (0-9) from the integer is now a separate item in the list.

In [ ]:
a = 123412321

Hint: try forcing the integer to a list - why doesn't it do what we want? Try turning the int to a string first, then a list.

***

8) Construct your name using elements from the alphabet string below:

In [ ]:
import string
alphabet = string.ascii_lowercase
print(alphabet)

Hint: You can merge strings with `new_string = string1 + string2`. Make the first letter a capital with `new_string = old_string.capitalize()`.

9) You have two lists below. Merge them into a single list by "glueing" them side-by-side.  
Then, take the final three elements of this list, put them into a new, separate list, and remove them from the original list.

In [ ]:
list_1 = [4, 5, 2, 6, 3, 9]
list_2 = [0, -1, 3.14, 0.01, -9999]

***

10) Below is a string. Change its first letter from `"M"` to `"D"`.  
Are you having trouble? Remember (or check) some of the main differences between strings and lists and use it to your advantage.

In [ ]:
le_string = "Monkey"